:root {
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: #444;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .logo {
    font-size: 2rem;
  }

  ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    padding: 0 1rem;

    &:hover {
      color: #555;
    }
  }
}

.section-a {
  margin: 2rem 0;
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }

  p {
    margin: 1rem 0;
  }  
}
//--------------------------------------------------------------------------
.section-b {
  background-color: #00796b;
  position: relative; 
  // border: 1px solid black;
}

.section-b-inner {
  color: #fff;
  height: auto;
  .gridone {
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;   
    background-color: #00796b;

    .main {
      margin-right: 100px;
      .title {
        padding: 10px;
        font-size: 40px;
      }

      .titletwo {
        padding: 10px;
        font-size: 40px;
      }

      .titlethr {
        padding: 10px;
        font-size: 20px;
      }

      .titlefour {
        padding: 10px;
        font-size: 20px;
      }

      .titlefive {
        padding: 10px;
        font-size: 20px;
      }

      .titlesix {
        padding: 10px;
        font-size: 18px;
      }      
    }
    .zero {
      width: 400px;
      height: 400px;
      padding: 10px;    
      position: relative;
      left: 40px;  
    }
  }
  
  .gridtwo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;
    background-color: #00796b;
    .maintwo {
      margin-right: 100px;
    }
    .imgone {
      display: grid;
      grid-template-columns: auto;

      .one {
        width: 400px;
        height: 400px;
        padding: 10px;
      }
    }
  }
  .gridthr {
    background-color: #00796b;
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;
    position: relative;
    top: -100px;
    
    .mainthr {
      margin-right: 100px;
    }
    .two {
      width: 400px;
      height: 400px;
      padding: 10px;
    }
  }  

  .gridfive {
    display: grid;
    grid-template-columns: auto auto;
    .textBox {

    }

    .imgBox{
      .loginImg {
        width: 250px;
        height: 250px;
      }

      .signUpImg {
        width: 250px;
        height: 250px;
      }
    }
    
  }
}


//---------------------------------------------------------------------------------------------------------------------------
.last {
  background-color: #9c64a6;
  // height: 1000px;
  color: white;
  .projectImg {
    width: 400px;
    height: 400px;
  }
  .tsImg {
    width: 400px;
    height: 400px;
  }
  .mainImg {
    width: 250px;
    height: 250px;
  }
  .mainImgTwo {
    width: 250px;
    height: 250px;
  }
  .infoImgOne {
    width: 250px;
    height: 250px;
  }
  .infoImgtwo {
    width: 250px;
    height: 250px;
    
  }
  .detailPageOne {
    width: 250px;
    height: 250px;
  }
  .detailPageTwo {
    width: 250px;
    height: 250px;
  }
  .detailPageThr {
    width: 250px;
    height: 250px;
  }
  .cartModalImgOne {
    width: 250px;
    height: 250px;
  }
  .cartModalImgTwo {
    width: 250px;
    height: 250px;
  }
}
//----------------------------------------------------------------------------------------------------------------------------
.section-c {
 
}

.section-c-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;

  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 5rem;
    margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
//----------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------

@media (max-width: 700px) {
  .section-a {
    .container {
      grid-template-columns: 1fr;
      text-align: center;

      div {
        &:first-child {
          order: 2;
        }

        &:nth-child(2) {
          order: -1;
        }
      }
    }

    img {
      width: 80%;
      margin: auto;
    }
  } 
}

