
.container {
  padding: 75px 20;
  margin: 0 auto;
  width: 1300px;
  
}

h1 {
  position: relative;
  margin-bottom: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  // text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  // box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  // transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

    &:hover {
      flex: 7;
      filter: grayscale(90%);
    }
  }

  .item-1 {
    background-image: url('https://media.vlpt.us/images/yonghk423/post/d46f36ab-0181-4148-81a3-821338895242/0A046ACF-3AC7-4D80-B16B-F89BD2F99352.jpeg');
  }

  .item-2 {
    background-image: url('https://media.vlpt.us/images/yonghk423/post/8cfb0877-b145-414a-9efe-80f80d0510be/image.png');
  }

  .item-3 {
    background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
  }
}



// .item-4 {
//   background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
// }

// .item-5 {
//   background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
// }

.social {
  position: absolute;
  right: 35px;
  bottom: 0;

  img {
    display: block;
    width: 32px;
  }
}