:root {
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: #444;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .logo {
    font-size: 2rem;
  }

  ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    padding: 0 1rem;

    &:hover {
      color: #555;
    }
  }
}

.section-a {
  margin: 2rem 0;
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }

  p {
    margin: 1rem 0;
  }  
}
//--------------------------------------------------------------------------
.section-b {
  background-color: #00796b;
  position: relative; 
  height: auto;
  // border: 1px solid black;
}

.section-b-inner {
  color: #fff;
  height: auto;
  .gridone {
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;   
    background-color: #00796b;

    .main {
      margin-right: 100px;
      .title {
        padding: 10px;
        font-size: 40px;
      }

      .titletwo {
        padding: 10px;
        font-size: 40px;
      }
      .teamSite {
        display: grid;
        grid-template-columns: auto;
        .nara {
        color: white;
        font-size: 22.5px;
        position: relative;
        left: 10px;
      }
      .git {
        color: white;
        font-size: 22.5px;
        position: relative;
        left: 10px;
      }
      }
      
      .titlethr {
        padding: 10px;
        font-size: 22.5px;
        position: relative;
        top: 5px;
      }

      .titlefour {
        padding: 10px;
        font-size: 30px;
      }

      .titlefive {
        padding: 10px;
        font-size: 30px;
      }

      .titlesix {
        padding: 10px;
        font-size: 30px;
      }      
    }
    .zero {
      width: 400px;
      height: 400px;
      padding: 10px;    
      position: relative;
      left: 40px;  
    }
  }
  
  .gridtwo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;
    background-color: #00796b;
    .maintwo {
      margin-right: 100px;
      .title {
        position: relative;
        top: -20px;
      }
      .titletwo {
        position: relative;
        // top: -1px;
      }
      .p1 {
        position: relative;
        top: 20px;
      }
      .p2 {
        position: relative;
        top: 20px;
      }
      .title1 {
        position: relative;
        top: 40px;
      }
      .p3 {
        position: relative;
        top: 50px;
      }
      .p4 {
        position: relative;
        top: 70px;
      }
      .p5 {
        position: relative;
        top: 90px;
      }
    }
    .imgone {
      display: grid;
      grid-template-columns: auto;

      .one {
        width: 400px;
        height: 400px;
        padding: 10px;
      }
    }
  }
  .gridthr {
    background-color: #00796b;
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;
    position: relative;
    // top: 10px;
    
    .mainthr {
      margin-right: 100px;
      .modalUI {
        position: relative;
        top: 25px;
      }
      .p6 {
        position: relative;
        top: 80px;
      }
      .onclick {
        position: relative;
        top: -50px;
      }
      .p7 {
        position: relative;
        top: 80px;
      }
      .datalimit {
        position: relative;
        top: 100px;
      }
      .p8 {
        position: relative;
        top: 120px;
      }
    }
    .two {
      width: 400px;
      height: 400px;
      padding: 10px;
    }
  }  

  .gridfive {
    display: grid;
    grid-template-columns: auto auto;
    height: 500px;
    margin-right: 290px;

    .textBox {
      position: relative;
      top: 150px;
      left: 100px;
      .logintext {
        position: relative;
        top: -80px;
      }
      .p09 {
        position: relative;
        top: -50px;
      }
    }

    .imgBox{
      
      .loginImg {   
        position: relative;
        left: 200px;     
        width: 200px;
        height: 200px;
        top: 100px;
      }

      .signUpImg {
        position: relative;
        left: 200px;   
        width: 200px;
        height: 200px;
        top: 100px;
      }
    }
    
  }
   
}


//---------------------------------------------------------------------------------------------------------------------------
.last {
  background-color: #9c64a6;
  height: auto;
  color: white;
  padding: 100px; 
  .introBox {
    display: grid;
    grid-template-columns: auto auto;
    .lastOne {
      margin-right: 100px;
      .projectTitle {
        font-size: 40px;
      }
      .projectData {
        font-size: 40px;
      }
      .projectName {
        font-size: 30px;
        position: relative;
        top: 20px;
      }
      .miniSite {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        top: 20px;
        .remember {
          color: white;
          font-size: 22.5px;
          position: relative;
          // left: 10px;
        }
        .git {
          color: white;
          font-size: 22.5px;
          position: relative;
          // left: 10px;
        }
      }
      .projectIntro {
        font-size: 25px;
        position: relative;
        top: 40px;
      }
      .skill {
        font-size: 30px;
        position: relative;
        top: 70px;
      }
      .skillList {
        position: relative;
        top: 80px;
      }
      
    }
    .projectImg {
    padding: 10px;  
    position: relative;
    left: 15px;
    width: 400px;
    height: 400px;
    left: 100px;
  }
  }
  .tsBox {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 100px;
    .lastTwo {
      //  margin-right: 100px;
       .typeTitle {
         font-size: 30px;
         position: relative;
       }
       .typeIntro1 {
      font-size: 25px;
      position: relative;
      top: 25px;
      }
      .p11 {
        position: relative;
        top: 55px;
      }
      .typeIntro2 {
        font-size: 25px;
        position: relative;
        top: 90px;
      }
      .p12 {
        position: relative;
        top: 125px;
      }
      .typeIntro3 {
        font-size: 25px;
        position: relative;
        top: 170px;
      }
      .p13 {
        position: relative;
        top: 200px;
      }
    }
    
    .tsImg {
    padding: 10px;  
    width: 400px;
    height: 400px;
    position: relative;
    left: 90px;
  }
  }
  .reduxBox {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    // margin-right: 100px;
    top: 400px;
    .lastThr {
      .redux {
        font-size: 30px;
      }
      .p21 {
        position: relative;
        top: 20px;
      }
    }
    .reduxImg {
    position: relative;
    padding: 10px;  
    width: 400px;
    height: 400px;
    left: 90px;
  }
  }
  
  
  
  .mainBox {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    // margin-right: 100px;
    top: 400px;
    .lastFour {
      .p22 {
        position: relative;
        top: 20px;
      }
    }
    .mainImg {
      padding: 10px;  
      width: 200px;
      height: 200px;
      position: relative;
      left: 90px;
      top: 55px;
    }
    .mainImgTwo {
      padding: 10px;  
      width: 200px;
      height: 200px;
      position: relative;
      left: 90px;
      top: 55px;
    }
  }
  .mainInfoBox {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 400px;
    // margin-right: 100px;

    .lastFive {
      position: relative;
      top: 60px;
      .p23 {
        position: relative;
        top: 20px;
      }
    }
    .infoImgOne {
    padding: 10px;  
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    top: 115px;
    }
    .infoImgtwo {
    padding: 10px;    
    width: 200px;
    height: 200px;  
    position: relative;
    left: 90px;
    top: 115px;
    }
  }
  .detailBox {
    position: relative;
    top: 400px;

    .lastSix {
      position: relative;
      top: 120px;
      .p24 {
        position: relative;
        top: 20px;
      }
    }
    display: grid;
    grid-template-columns: auto auto;
    .detailPageOne {
    padding: 10px;  
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    top: 175px;
  }
  .detailPageTwo {
    padding: 10px;    
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    top: 175px;
  }
  // .detailPageThr {
  //   padding: 10px;    
  //   width: 170px;
  //   height: 170px;
  //   position: relative;
  //   left: 100px;
  // }
  }  
  .cartBox {
    position: relative;
    top: 400px;
    height: auto;
    .lastSev {
      position: relative;
      top: 180px;
      .p25 {
        position: relative;
        top: 20px;
      }
    }
    display: grid;
    grid-template-columns: auto auto;
    .cartModalImgOne {
    padding: 10px;      
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    top: 230px;
  }
  .cartModalImgTwo {
    padding: 10px; 
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    top: 230px;
  }
  }
  .hookBox {
    position: relative;
    height: 1200px;
    display: grid;
    grid-template-columns: auto auto;
    .lastEig {
      position: relative;
      top: 80px;
      .memo {
        position: relative;
        top: 600px;
      }
      .p26 {
        position: relative;
        top: 620px;
      }
    }
    
    .hookImg {
      padding: 10px;
      width: 400px;
      height: 400px;
      position: relative;
      left: 90px;
      top: 730px;
    }
  }
  
}
//----------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------
@media (max-width: 700px) {
  .section-a {
    .container {
      grid-template-columns: 1fr;
      text-align: center;

      div {
        &:first-child {
          order: 2;
        }

        &:nth-child(2) {
          order: -1;
        }
      }
    }

    img {
      width: 80%;
      margin: auto;
    }
  } 
}

